 {% extends 'base.html' %}
{% block body %}
<div class="col-md-6">
            <h4>Task To Be Completed</h4>

            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{task.name}}</h5>
                    <h6>{{task.priority}}</h6>
                    <p><b>{{task.date}}</b></p>
                    <a class="btn btn-danger" href="{% url 'delete' task.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' task.id %}">Update</a>
                </div>
            </div>
            <br>

        </div>
 {% endblock %}